@import "../../../styles/colors.scss";
@import "../../../styles/mediaqueries.scss";

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color_dark01;
    height: 100vh;

    .mainZone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box; 
        box-sizing: border-box;

        .presentation {
            text-align: center;
            font-size: 3.5rem;
            color: #fff;

            .highlight {
                color: $color_custom01;
            }
        }
    }

    .visitWeb {
        color: #fff;
        background: none;
        font-size: 1.3rem;
        width: 200px;
        height: 50px;
        border: 2px solid #fff;
        margin-top: 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box; 
        box-sizing: border-box;
        border-radius: 0px;

        &:hover {
            cursor: pointer;
            background: $color_custom01;
            border-color: $color_custom01;
            transition: all 0.6s;
        }

        &:focus {
            outline: none;
        }
    }

    @include rwd(portable-devices) { 
        .mainZone {
            .presentation {
                font-size: 3.0rem;
            }
        }

        .visitWeb {
            font-size: 1.0rem;
            width: 160px;
            height: 40px;
            margin-top: 25px;
        }
    } 
}