@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700;800&display=swap');
$font_01: 'Raleway', sans-serif;

@import "./colors.scss";

$content_zone_width: 1000px;

body {
    margin: 0;
    font-family: $font_01;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 100px;

    .sectionTitle {
        color: #444649;
        font-weight: 800;
        font-size: 2.2rem;
        text-decoration: underline;
        text-underline-position: under;
        margin-top: 0px;
    }

    .sectionContentZone {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: $content_zone_width;
        width: 100%;
    }

}





