@import "./../../styles/colors.scss";
@import "./../../styles/mediaqueries.scss";

.navBar {
    display: flex;
    flex-direction: row;
    background: $color_dark02;
    height: 50px;
    width: 100%;
    z-index: 5;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 50px;
    border-bottom: 3px solid $color_custom01;
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;

    .navButton {
        border: none;
        background: none;
        color: white;
        font-size: 1.2rem;
        font-weight: 100;
        margin: auto 10px;

        &:hover {
            cursor: pointer;
            color: $color_custom01;
            transition: color 0.6s;
        }

        &:focus {
            outline: none;
        }
    }

    .selected {
        color: $color_custom01;
    }

    .languageSwitcher {
        margin-left: auto;
        margin-right: 10px;
        align-self: center;
    }

    @include rwd(portable-devices) { 
        padding-left: 0px;
        justify-content: center;

        .navButton {
            margin: auto 2px;
            font-size: 1rem;
        }

        .languageSwitcher {
            display: none;
        }
    }

    @include rwd(mobile) {
        .navButton {
            padding: auto 0;
            margin: auto 1px;
            font-size: 0.85rem;
        }
    }
}